@model IEnumerable<Day07.Areas.Dashboard.Models.AccountListItemViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td class="text-nowrap">
                    @if (item.Active)
                    {
                        <i class="fa-solid fa-user-large text-success status" id="active.@item.Id" title="Active"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-user-large-slash text-danger status" id="active.@item.Id" title="Passive"></i>
                    }
                    @if (item.Deleted)
                    {
                        <i class="fa-solid fa-recycle text-danger status" id="deleted.@item.Id" title="Deleted"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-trash-can text-secondary status" id="deleted.@item.Id" title="No Deleted"></i>
                    }
                    @if (item.EmailConfirmed)
                    {
                        <i class="fa-solid fa-envelope-circle-check text-success status" id="email_confirmed.@item.Id" title="Confirmed"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-envelope text-danger status" id="email_confirmed.@item.Id" title="Not Confirm"></i>
                    }
                    @if (item.PhoneNumberConfirmed)
                    {
                        <i class="fa-solid fa-phone text-success status" id="phone_number_confirmed.@item.Id" title="Confirmed"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-phone-slash text-danger status" id="phone_number_confirmed.@item.Id" title="Not Confirm"></i>
                    }
                    @if (item.TwoFactorEnabled)
                    {
                        <i class="fa-solid fa-shield text-success status" id="two_factor_confirmed.@item.Id" title="Enabled"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-shield text-danger status" name="@item.Id" id="two_factor_confirmed.@item.Id" title="Disabled"></i>
                    }
                    @if (item.LockoutEnabled)
                    {
                        <i class="fa-solid fa-lock text-dark status" name="@item.Id" id="lockout_enabled.@item.Id" title="Lockout Enabled"></i>
                    }
                    else
                    {
                        <i class="fa-solid fa-lock-open text-success status" name="@item.Id" id="lockout_enabled.@item.Id" title="Lockout Disabled"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(() => {
            $(".status").click((e) => {
                let x = e.target
                let uid = x.id.split('.')[1];
                let id = x.id.split('.')[0];
                console.log(id, uid);
                $.ajax({
                    url: "/dashboard/account/toggle/" + uid + "?p=" + id,
                    success: (result) => {
                        console.log(result)
                        if (result == 'true') {
                            $(x).removeClass('text-danger').addClass('text-success')
                        } else {
                            $(x).removeClass('text-success').addClass('text-danger')
                        }
                    }
                });
            })
        });
    </script>
}